<!--
This ERB is a template file in ruby.  It's like PHP or JSP.
It lets you represent your view separate from the code, allowing you to pass in values dynamically form the back end code.
-->
<h1 id="about_us">About Us</h1>

<!--
Here you can see that we are reading the content of the dynamic variable via the typical interpreter notation seen in JSP.. 
-->
<p>We have <%= @number_of_employees%> employees</p>