<h1 id="contact_us">Contact Us</h1>

<!--
	Sample Ruby Code To Produce If Else Structures in the view.
-->
<% if 2+2==6%>
		<h1 id="math_works">Math works.</h1>
<% else %>
	<h1 id="math_doesn't_work.">Math doesn't work.</h1>
<% end %>
